@page
@using WebApplication2.Components
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}


<div>
    <h1> Spice Status  </h1>
</div>


@(await Html.RenderComponentAsync<SpiceList>(RenderMode.ServerPrerendered))
